@charset "UTF-8";

.myBackground {
    background-image: url("images\img1.jpg");
    color: white
}

.nav navbar-example2{
    background-color: aquamarine;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}

h6 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    text-align: center;
}
.p {
    font-family: "Times New Roman";
    text-align: justify;
    font-size: 30px;
    padding: 15px;
    color: rgb(0, 0, 0);
}

.img {
    position: center;   
}


